{
    "presets": [
        ["@babel/env", {
          "modules":"commonjs",
          "targets": {
            "browsers": ["ie >= 8"]
          },
          //"useBuiltIns": "entry"
        }],
    ],
    //"presets": ["@babel/preset-env"], 
    "plugins": ["@babel/plugin-transform-runtime"] 
}